
<div>
   <% @posts.each do |post| %>
<h2><%= post.title %></h2>
<img src=<%= post.image_url %> alt="">
<p><%= markdown(post.content) %></p>
  <%if admin_signed_in? %>
        <%= link_to 'Göster', post, class:"btn btn-info" %>
         <%= link_to 'Düzenle', edit_post_path(post), class:"btn btn-warning"  %> 
         <%= link_to 'Sil', post, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger"  %> 
       <% end %>
    <% end %>

</div>

<br>
     <%if admin_signed_in? %>

<%= link_to 'Yeni Post', new_post_path , class:"btn btn-success" %>
       <% end %>
