
<h2>
  <%= @post.title %>
</h2>
<img src=<%= @post.image_url %> alt="">

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>



 <%if admin_signed_in? %>
<%= link_to 'Edit', edit_post_path(@post) , class:"btn btn-warning" %> 
<%= link_to 'Back', posts_path, class:"btn btn-secondary"  %>
  <%end%>